# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Build output
dist

# dotenv environment variable files
.env
.env.*
!.env.example

# Optional npm cache directory
.npm

# Output of 'npm pack'
*.tgz

publish.sh
